.navbar {
  background-color: white;
  color: #0b2d0f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #0b2d0f;
  box-shadow: 0.1px 0.1px 2px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-left img {
  width: 100px;
}

.nav-middle {
  display: flex;
  gap: 10px;
  color: white;
}

.nav-middle p {
  background: #0b2d0f;
  padding: 10px 30px;
  border-radius: 5px;
  transition: 2s;
  cursor: pointer;
}

.nav-middle p:hover {
  background: #008000;
}

.nav-right {
  background: #0b2d0f;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-right button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
