.create-auction {
  display: grid;
  place-items: center;
  background: #d5f6d5;
}

.create-auction h4 {
  margin-top: 50px;
  color: #008000;
  font-weight: 500;
}

.auction-heading {
  display: grid;
  place-items: center;
  margin-top: 60px;
}

.auction-heading h1 {
  font-weight: 500;
}

.auction-heading div {
  margin-top: 15px;
  background: #008000;
  height: 2px;
  width: 15%;
  border-radius: 5px;
}

#small {
  width: 10%;
  margin-bottom: 30px;
}
.create-auction-form {
  color: white;
  display: flex;
  width: 90vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* width: 100%; */
  padding: 30px;
  background: #0f2b0f;
  border-radius: 5px;
}

.create-auction-form input {
  outline: none;
  border: none;
  padding: 15px;
  border-radius: 5px;
  width: 50%;
}

.create-auction-form input::placeholder,
.create-auction-form textarea::placeholder {
  font-weight: 500;
  font-style: 16px;
}
.create-auction-form textarea {
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 50%;
}

.upload img {
  width: 180px;
  cursor: pointer;
}

#decrease {
  margin-bottom: -30px;
}

.create-auction-form button {
  /* margin-top: -80px; */
  outline: none;
  padding: 10px 30px;
  border: none;
  outline: none;
  background: #008000;
  color: white;
  border-radius: 5px;
  transition: 1s;
  cursor: pointer;
  font-weight: 500;
  font-style: 16px;
}

.create-auction-form button:hover {
  background: #035703;
}
.upload-img img {
  margin-top: 30px;
}

.upload-img .selected-image {
  width: 80px;
  height: 80px;
}

#upload_image {
  margin: -5px 0 -20px 0;
  width: 100px;
  height: 100px;
}
